.content {
  max-width: 500px;
  margin: auto;
}

.navbar {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 30px;
}

table {
  width: 100%;
}
input,
select {
  margin-right: 100px;
}

td {
  width: 20%;
  background-color: lightblue;
}

th {
  width: 20%;
}

.container {
  display: flex;
}

.list-item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: lightblue;
  list-style: none;
  margin: 5px;
  color: black;
}

.app {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sortingbtn {
  position: fixed;
  top: 180px;
  left: 50px;
  text-align: left;
}
